<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Empresas</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="x_panel">
			<div class="x_title">
				<h2>Cadastro de Empresa</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form role="form" action="/admin/orgs/create" method="post">
					<div class="box-body">
						<div class="form-group">
							<label for="org_companyname">Razao Social *</label> <input
								type="text" class="form-control" id="org_companyname"
								name="org_companyname" placeholder="Digite a razão social"
								maxlength="255" required />
						</div>
						<div class="form-group">
							<label for="org_tradingname">Nome Fantasia *</label> <input
								type="text" class="form-control" id="org_tradingname"
								name="org_tradingname" placeholder="Digite o nome fantasia"
								maxlength="255" required />
						</div>
						<div class="form-group">
							<label for="org_cnpj">CNPJ</label> <input type="text"
								class="form-control" id="org_cnpj" name="org_cnpj"
								placeholder="Digite o CNPJ" maxlength="16" />
						</div>
						<div class="form-group">
							<label for="org_logo">Logo</label> <input type="text"
								class="form-control" id="org_logo" name="org_logo"
								placeholder="Escolha o arquivo" />
						</div>
						<div class="form-group">
							<label for="org_size">Porte *</label> <select id="org_size"
								name="org_size" class="form-control" required>
								<option value="">Selecione...</option> {loop="$sizes"}
								<option value="{$key}">{$value}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="legalnature_id">Natureza Jurídica *</label> <select
								id="legalnature_id" name="legalnature_id" class="form-control"
								required>
								<option value="">Selecione...</option> {loop="$legalnatures"}
								<option value="{$value.legalnature_id}">{$value.legalnature_name}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="org_status">Status *</label> <select id="org_status"
								name="org_status" class="form-control" required>
								{loop="$status"}
								<option value="{$key}" {if="$key==1"}selected{/if}>{$value}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="org_contact_name">Contato</label> <input type="text"
								class="form-control" id="org_contact_name"
								name="org_contact_name" placeholder="Digite o nome do contato" />
						</div>
						<div class="form-group">
							<label for="org_contact_email">Contato e-mail</label> <input
								type="text" class="form-control" id="org_contact_email"
								name="org_contact_email" placeholder="Digite e-mail do contato" />
						</div>
						<div class="form-group">
							<label for="org_contact_phone">Contato Telefone</label> <input
								type="text" class="form-control" id="org_contact_phone"
								name="org_contact_phone"
								placeholder="Digite o telefone do contato" />
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="org_notification"
								value="1"> Enviar notificações
							</label>
						</div>

						<div class="col-md-6 col-xs-12">
							<h2>Endereço de Estabelecimento</h2>
							<div class="form-group">
								<label for="org_address">Endereço</label> <input type="text"
									class="form-control" id="org_address" name="org_address"
									placeholder="logradouro, número, bairro" />
							</div>
							<div class="form-group">
								<label for="org_addr_complement">Complemento</label> <input
									type="text" class="form-control" id="org_addr_complement"
									name="org_addr_complement" placeholder="apto, bloco, sala" />
							</div>
							<div class="form-group">
								<label for="org_addr_city">Cidade</label> <input type="text"
									class="form-control" id="org_addr_city" name="org_addr_city"
									maxlength="255" placeholder="Digite a cidade" />
							</div>
							<div class="form-group">
								<label for="org_addr_state">UF</label> <input type="text"
									class="form-control" id="org_addr_state" name="org_addr_state"
									maxlength="2" placeholder="Digite o Estado" />
							</div>
							<div class="form-group">
								<label for="org_addr_zip">CEP</label> <input type="text"
									class="form-control" id="org_addr_zip" name="org_addr_zip"
									maxlength="10" placeholder="Digite o CEP" />
							</div>
							<div class="form-group">
								<label for="org_addr_country">Pais</label> <input type="text"
									class="form-control" id="org_addr_country"
									name="org_addr_country" maxlength="100"
									placeholder="Digite o Pais" />
							</div>
						</div>

						<div class="col-md-6 col-xs-12">
							<h2>Endereço de Cobrança</h2>
							<div class="form-group">
								<label for="org_addrbilling">Endereço</label> <input type="text"
									class="form-control" id="org_addrbilling"
									name="org_addrbilling" placeholder="logradouro, número, bairro" />
							</div>
							<div class="form-group">
								<label for="org_addrbilling_complement">Complemento</label> <input
									type="text" class="form-control"
									id="org_addrbilling_complement"
									name="org_addrbilling_complement"
									placeholder="apto, bloco, sala" />
							</div>
							<div class="form-group">
								<label for="org_addrbilling_city">Cidade</label> <input
									type="text" class="form-control" id="org_addrbilling_city"
									maxlength="255" name="org_addrbilling_city"
									placeholder="Digite a cidade" />
							</div>
							<div class="form-group">
								<label for="org_addrbilling_state">UF</label> <input type="text"
									class="form-control" id="org_addrbilling_state" maxlength="2"
									name="org_addrbilling_state" placeholder="Digite o Estado" />
							</div>
							<div class="form-group">
								<label for="org_addrbilling_zip">CEP</label> <input type="text"
									class="form-control" id="org_addrbilling_zip" maxlength="10"
									name="org_addrbilling_zip" placeholder="Digite o CEP" />
							</div>
							<div class="form-group">
								<label for="org_addrbilling_country">Pais</label> <input
									type="text" class="form-control" id="org_addrbilling_country"
									maxlength="100" name="org_addrbilling_country"
									placeholder="Digite o Pais" />
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Cadastrar</button>
							<a class="btn btn-default" href="/admin/orgs">Voltar</a>
							<br /> <br />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
