<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Administrar Perguntas</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="x_panel">
			<div class="x_title">
				<h2>Atualização de Pergunta</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form role="form" action="/admin/questions/{$obj.quest_id}" method="post">
					<div class="box-body">
						<div class="form-group">
							<label for="persp_id">Perspectiva *</label> <select
								id="persp_id" name="persp_id" class="form-control"
								required>
								<option value="">Selecione...</option> {loop="$perspectives"}
								<option value="{$value.persp_id}" {if="$obj.persp_id == $value.persp_id"}selected{/if}>{$value.persp_name}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="qset_id">Grupo *</label> <select
								id="qset_id" name="qset_id" class="form-control"
								required>
								<option value="">Selecione...</option> {loop="$qsets"}
								<option value="{$value.qset_id}" {if="$obj.qset_id == $value.qset_id"}selected{/if}>{$value.qset_name}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="quest_text">Pergunta *</label> <textarea
								class="form-control" id="quest_text" name="quest_text"
								placeholder="Digite a pergunta">{$obj.quest_text}</textarea>
						</div>
						<div class="form-group">
							<label for="quest_environment">Ambiente *</label> <select
								id="quest_environment" name="quest_environment" class="form-control"
								required> {loop="$environments"}
								<option value="{$key}" {if="$obj.quest_environment == $key"}selected{/if}>{$value}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="quest_status">Status *</label> <select
								id="quest_status" name="quest_status" class="form-control"
								required> {loop="$status"}
								<option value="{$key}" {if="$obj.quest_status == $key"}selected{/if}>{$value}</option>
								{/loop}
							</select>
						</div>
						<div class="form-group">
							<label for="quest_positiveswot">SWOT Positivo *</label> <textarea
								class="form-control" id="quest_positiveswot" name="quest_positiveswot"
								placeholder="Digite o SWOT positivo resumido">{$obj.quest_positiveswot}</textarea>
						</div>
						<div class="form-group">
							<label for="quest_negativeswot">SWOT Negativo *</label> <textarea
								class="form-control" id="quest_negativeswot" name="quest_negativeswot"
								placeholder="Digite o SWOT negativo resumido">{$obj.quest_negativeswot}</textarea>
						</div>
						<div class="form-group">
							<label for="quest_positiveswot_full">SWOT Positivo Completo *</label> <textarea
								class="form-control" id="quest_positiveswot_full" name="quest_positiveswot_full"
								placeholder="Digite o SWOT positivo completo">{$obj.quest_positiveswot_full}</textarea>
						</div>
						<div class="form-group">
							<label for="quest_negativeswot_full">SWOT Negativo Completo *</label> <textarea
								class="form-control" id="quest_negativeswot_full" name="quest_negativeswot_full"
								placeholder="Digite o texto completo">{$obj.quest_negativeswot_full}</textarea>
						</div>
						<div class="form-group">
							<label for="quest_variable">Variável *</label> <textarea
								class="form-control" id="quest_variable" name="quest_variable"
								placeholder="Digite a variável">{$obj.quest_variable}</textarea>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="quest_iscriticalkey" value="1"
								{if="$obj.quest_iscriticalkey == 1"}checked{/if}> Chave Crítica
							</label>
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<a class="btn btn-default" href="/admin/questions">Voltar</a>
						<br /> <br />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
