<!-- footer content -->
<footer>
	<div class="pull-right">
		©2018 All Rights Reserved. TreinaRecife!
	</div>
	<div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="{$cfg.libjs}jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{$cfg.libjs}bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{$cfg.libjs}fastclick.js"></script>
<!-- NProgress -->
<script src="{$cfg.libjs}nprogress.js"></script>
<!-- jQuery Smart Wizard -->
<script src="{$cfg.libjs}jquery.smartWizard.js"></script>
<!-- Chart.js -->
<script src="{$cfg.libjs}Chart.min.js"></script>
<!-- gauge.js -->
<script src="{$cfg.libjs}gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="{$cfg.libjs}bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="{$cfg.libjs}icheck.min.js"></script>
<!-- Skycons -->
<script src="{$cfg.libjs}skycons.js"></script>
<!-- Flot -->
<script src="{$cfg.libjs}jquery.flot.js"></script>
<script src="{$cfg.libjs}jquery.flot.pie.js"></script>
<script src="{$cfg.libjs}jquery.flot.time.js"></script>
<script src="{$cfg.libjs}jquery.flot.stack.js"></script>
<script src="{$cfg.libjs}jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="{$cfg.libjs}jquery.flot.orderBars.js"></script>
<script src="{$cfg.libjs}jquery.flot.spline.min.js"></script>
<script src="{$cfg.libjs}curvedLines.js"></script>
<!-- DateJS -->
<script src="{$cfg.libjs}date.js"></script>
<!-- JQVMap -->
<script src="{$cfg.libjs}jquery.vmap.js"></script>
<script src="{$cfg.libjs}jquery.vmap.world.js"></script>
<script src="{$cfg.libjs}jqvmap/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="{$cfg.libjs}moment.min.js"></script>
<script src="{$cfg.libjs}daterangepicker.js"></script>
<!-- Datatables -->
<script src="{$cfg.libjs}jquery.dataTables.min.js"></script>
<script src="{$cfg.libjs}dataTables.bootstrap.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="{$cfg.libjs}bootstrap-wysiwyg.min.js"></script>
<script src="{$cfg.libjs}jquery.hotkeys.js"></script>
<script src="{$cfg.libjs}prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="{$cfg.libjs}jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="{$cfg.libjs}switchery.min.js"></script>
<!-- Select2 -->
<script src="{$cfg.libjs}select2.full.min.js"></script>
<!-- Parsley -->
<script src="{$cfg.libjs}parsley.min.js"></script>
<!-- Autosize -->
<script src="{$cfg.libjs}autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="{$cfg.libjs}jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="{$cfg.libjs}starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="{$cfg.js}custom.min.js"></script>
<script src="{$cfg.js}treinarecife.js"></script>




<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
<!-- NProgress -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!-- jQuery Smart Wizard -->
<script src="{$cfg.libjs}jquery.smartWizard.js"></script>
<!-- Chart.js -->
<script src="{$cfg.libjs}Chart.min.js"></script>
<!-- gauge.js -->
<script src="{$cfg.libjs}gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="{$cfg.libjs}bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="{$cfg.libjs}icheck.min.js"></script>
<!-- Skycons -->
<script src="{$cfg.libjs}skycons.js"></script>
<!-- Flot -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
<!-- Flot plugins -->
<script src="{$cfg.libjs}jquery.flot.orderBars.js"></script>
<script src="{$cfg.libjs}jquery.flot.spline.min.js"></script>
<script src="{$cfg.libjs}curvedLines.js"></script>
<!-- DateJS -->
<script src="{$cfg.libjs}date.js"></script>
<!-- JQVMap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="{$cfg.libjs}moment.min.js"></script>
<script src="{$cfg.libjs}daterangepicker.js"></script>
<!-- Datatables -->
<script src="{$cfg.libjs}jquery.dataTables.min.js"></script>
<script src="{$cfg.libjs}dataTables.bootstrap.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="{$cfg.libjs}bootstrap-wysiwyg.min.js"></script>
<script src="{$cfg.libjs}jquery.hotkeys.js"></script>
<script src="{$cfg.libjs}prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="{$cfg.libjs}jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
<!-- Select2 -->
<script src="{$cfg.libjs}select2.full.min.js"></script>
<!-- Parsley -->
<script src="{$cfg.libjs}parsley.min.js"></script>
<!-- Autosize -->
<script src="{$cfg.libjs}autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="{$cfg.libjs}jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="{$cfg.libjs}starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="{$cfg.js}custom.min.js"></script>
<script src="{$cfg.js}treinarecife.js"></script>
</body>
</html>
