<!-- footer content -->
<footer>
	<div class="pull-right">
		©2018 All Rights Reserved. TreinaRecife!
	</div>
	<div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="{$cfg.libjs}fastclick.js"></script>
<script src="{$cfg.libjs}nprogress.js"></script>
<script src="{$cfg.libjs}jquery.smartWizard.js"></script>
<script src="{$cfg.libjs}Chart.min.js"></script>
<script src="{$cfg.libjs}gauge.min.js"></script>
<script src="{$cfg.libjs}bootstrap-progressbar.min.js"></script>
<script src="{$cfg.libjs}date.js"></script>
<script src="{$cfg.libjs}jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json"
            }
        } );
    } );
</script>
<script src="{$cfg.libjs}dataTables.bootstrap.min.js"></script>
<script src="{$cfg.libjs}bootstrap-wysiwyg.min.js"></script>
<script src="{$cfg.libjs}prettify.js"></script>
<script src="{$cfg.libjs}switchery.min.js"></script>
<script src="{$cfg.libjs}jquery.easypiechart.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="{$cfg.js}custom.min.js"></script>
<script src="{$cfg.js}treinarecife.js"></script>
</body>
</html>
