<!-- footer content -->
<footer>
	<div class="pull-right">
		©2018 All Rights Reserved. TreinaRecife!
	</div>
	<div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="{$cfg.libjs}fastclick.js"></script>
<script src="{$cfg.libjs}nprogress.js"></script>
<script src="{$cfg.libjs}jquery.smartWizard.js"></script>
<script src="{$cfg.libjs}Chart.min.js"></script>
<script src="{$cfg.libjs}gauge.min.js"></script>
<script src="{$cfg.libjs}bootstrap-progressbar.min.js"></script>
<script src="{$cfg.libjs}icheck.min.js"></script>
<script src="{$cfg.libjs}skycons.js"></script>
<script src="{$cfg.libjs}jquery.flot.js"></script>
<script src="{$cfg.libjs}jquery.flot.pie.js"></script>
<script src="{$cfg.libjs}jquery.flot.time.js"></script>
<script src="{$cfg.libjs}jquery.flot.stack.js"></script>
<script src="{$cfg.libjs}jquery.flot.resize.js"></script>
<script src="{$cfg.libjs}jquery.flot.orderBars.js"></script>
<script src="{$cfg.libjs}jquery.flot.spline.min.js"></script>
<script src="{$cfg.libjs}curvedLines.js"></script>
<script src="{$cfg.libjs}date.js"></script>
<script src="{$cfg.libjs}jquery.vmap.js"></script>
<script src="{$cfg.libjs}jquery.vmap.world.js"></script>
<script src="{$cfg.libjs}moment.min.js"></script>
<script src="{$cfg.libjs}daterangepicker.js"></script>
<script src="{$cfg.libjs}jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#dataTable').dataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
            }
        } );
    } );
</script>
<script src="{$cfg.libjs}dataTables.bootstrap.min.js"></script>
<script src="{$cfg.libjs}bootstrap-wysiwyg.min.js"></script>
<script src="{$cfg.libjs}jquery.hotkeys.js"></script>
<script src="{$cfg.libjs}prettify.js"></script>
<script src="{$cfg.libjs}jquery.tagsinput.js"></script>
<script src="{$cfg.libjs}switchery.min.js"></script>
<script src="{$cfg.libjs}select2.full.min.js"></script>
<script src="{$cfg.libjs}parsley.min.js"></script>
<script src="{$cfg.libjs}autosize.min.js"></script>
<script src="{$cfg.libjs}jquery.autocomplete.min.js"></script>
<script src="{$cfg.libjs}jquery.easypiechart.min.js"></script>
<script src="{$cfg.libjs}starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="{$cfg.js}custom.min.js"></script>
<script src="{$cfg.js}treinarecife.js"></script>
</body>
</html>
