<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Easy Planning</title>

<link href="/res/vendors/css/bootstrap.min.css" rel="stylesheet">
<link href="/res/vendors/css/font-awesome.min.css" rel="stylesheet">
<link href="/res/vendors/nprogress.css" rel="stylesheet">
<link href="/res/vendors/animate.min.css" rel="stylesheet">
<link href="/res/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form>
						<h1>EasyPlanning</h1>
						<p>Recuperação de senha.</p>
						{if="isset($error)"}
							<div class="alert alert-danger" role="alert">{$error}</div>
						{else}
						<div>
							<h4>E-mail enviado!</h4>
							<p>Verifique as instruções no seu e-mail.</p>
						</div>
						{/if}
						<div class="clearfix"></div>

						<div class="separator">
							<div class="clearfix"></div>
							<br />
							<div>
								<h1>
									<img src="/res/site/img/logoTR_32x32.png" /> TreinaRecife!
								</h1>
								<p>©2018 All Rights Reserved. TreinaRecife!</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>
