<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Easy Planning</title>

<link href="/res/vendors/css/bootstrap.min.css" rel="stylesheet">
<link href="/res/vendors/css/font-awesome.min.css" rel="stylesheet">
<link href="/res/vendors/nprogress.css" rel="stylesheet">
<link href="/res/vendors/animate.min.css" rel="stylesheet">
<link href="/res/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form>
						<h1>EasyPlanning</h1>
						<div>
							<div class="help-block text-center">
								<div class="pricing">
									<div class="title">
										<h4>Senha Alterada!</h4>
										<p>
											Tente fazer o login com sua nova senha.<br />
										</p>
									</div>
									<a class="btn btn-primary btn-block" role="button"
										href="/login">Clique aqui para fazer o login</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>

						<div class="separator">
							<div class="clearfix"></div>
							<br />
							<div>
								<h1>
									<img src="/res/site/img/logoTR_32x32.png" /> TreinaRecife!
								</h1>
								<p>©2018 All Rights Reserved. TreinaRecife!</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>
</html>
