<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Usuários</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="x_panel">
			<div class="x_title">
				<h2>Atualização de Respondedores</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form role="form" action="/respondents/{$obj.resp_id}" method="post">
					<input type="hidden" id="org_id" name="org_id"
						value="{$logged.org_id}" /> <input type="hidden" id="org_name"
						name="org_name" value="{$logged.org_name}" />
					<div class="box-body">
						<div class="form-group">
							<label for="resp_email">E-mail *</label> <input type="email"
								class="form-control" id="resp_email" name="resp_email"
								maxlength="200" placeholder="Digite o e-mail" required value="{$obj.resp_email}"/>
						</div>
						<div class="form-group">
							<label for="resp_orglevel">Nível *</label> <select
								id="resp_orglevel" name="resp_orglevel" class="form-control"
								required>
								<option value="">Selecione...</option> {loop="$levels"}
								<option value="{$key}" {if="$key==$obj.resp_orglevel"}selected{/if}>{$value}</option> {/loop}
							</select>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="resp_allowpartial"
								value="0" {if="$obj.resp_allowpartial == 1"}checked{/if}>
								Aceitar resposta parcial (concluir sem responder todas as
								questões)
							</label>
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="resp_allowreturn"
								value="0" {if="$obj.resp_allowreturn == 1"}checked{/if}>
								Permitir resposta iterativa (responder um pouco a cada acesso)
							</label>
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-secondary"
							onclick="history.back()">Voltar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
